<div>
    <div class="container">
        <section class="section">
            <h1 class="title">Galeria</h1>
            <p class="subtitle">
                Proyectos realizados en el pasado
            </p>

        </section>
        <div class="tabs is-centered is-boxed">
            <ul>
                <li [class.is-active]="selectedCategory == 'cocinas'" (click)="filtrarPor('cocinas')"><a>Cocinas</a></li>
                <li [class.is-active]="selectedCategory == 'closets'"><a (click)="filtrarPor('closets')">Closets</a></li>
                <li [class.is-active]="selectedCategory == 'centros'"><a (click)="filtrarPor('centros')">Centros de entretenimiento</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="columns is-multiline is-gapless is-mobile">
    <div class="column is-2-tablet is-one-quarter-mobile" *ngFor="let g of gallery; let i = index;">
        <a (click)="openPicture(i)" class="gallery-item-container">
            <img class="gallery-item" [src]="g.thumbnail">
        </a>
    </div>
</div>
<div class="modal" [class.is-active]="selectedPicture != ''">
    <div class="modal-background" (click)="selectedPicture = ''"></div>
    <div class="modal-content">
        <p class="image">
            <img [src]="selectedPicture" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" click="selectedPicture = ''"></button>
</div>